.card{
    text-align: center;
}
.dateHeading{
    position: absolute;
}
.cardBody{
    background-color: black;
    color: whitesmoke;
}
nav{
    position: fixed;
    top:0px;
    width: 100%;
}
body{
    font-family: 'Oswald', sans-serif;
}
.goback{
    position: fixed;
    bottom:100px;
    right: 10px;
    color: #FFC107;
    background-color: black;
    border-radius: 50%;
}
.goback:visited{
    color: #FFC107;
    background-color: black;
}
#myFirstDialog{
    z-index: 1;
    position: fixed; /* or absolute */
    top: 50%;
}
#hide{
    background-color: #FFC107;
    color: black;
    border-radius: 5px;
    font-weight: 700;
}

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
  }
