.card{
    text-align: center;
}
.dateHeading{
    position: absolute;
}
.cardBody{
    background-color: black;
    color: whitesmoke;
}
nav{
    position: fixed;
    top:0px;
    width: 100%;
}
body{
    font-family: 'Oswald', sans-serif;
}
.goback{
    position: fixed;
    bottom:100px;
    right: 10px;
    color: #FFC107;
    background-color: black;
    border-radius: 50%;
}